@model ProfileViewModel

@{ 
    var targetUser = Model.AppUser;
}
<div>
    <h1>@Model.AppUser.FirstName @Model.AppUser.LastName</h1>
    <img src="@targetUser.UserImg.Url" class="card-img-top" alt="...">
    <p>About me: @Model.AppUser.Description</p>
    <p>Country: @Model.AppUser.Country</p>
    <p>City: @Model.AppUser.City</p>
    <p>Email: @Model.AppUser.Email</p>
</div>
