@model LocationMatchViewModel

<h3>LOCATION MATCHES</h3>
<ul>
    @foreach (var user in Model.MatchedUsers)
    {
        <li>
            <h5>@user.FirstName @user.LastName</h5>
            @{
                if (user.MatchingLocations == 2)
                {
                    <p style="color:lightseagreen; font-weight: 700;">** City-Match **</p>
                }
                if (user.MatchingLocations >= 1)
                {
                    <p style="color:cornflowerblue; font-weight: 700; ">** Country-Match **</p>
                }
            }
            @user.MatchingParameters matchande parametrar
        </li>
        <br />
    }
</ul>
<style>
    #myCarousel {
        color: white;
        min-height: 140px;
    }

    #userCards {
        min-width: 15%;
        top: 10px;
        left: 12.5%;
        float: none;
        display: inline-block;
        background: black;
    }
</style>
@{List<AppUser> listan = Model.MatchedUsers.ToList(); }
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">

            <div id="userCards" class="card">
                <img src="@@listan[0].UserImg.Url" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>@listan[0].FirstName</h3>
                </div>
            </div>
            <div id="userCards" class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>@listan[1].FirstName</h3>
                </div>
            </div>
            <div id="userCards" class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>@listan[2].FirstName</h3>
                </div>
            </div>
            <div id="userCards" class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>@listan[3].FirstName</h3>
                </div>
            </div>
            <div id="userCards" class="card">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>@listan[4].FirstName</h3>
                </div>
            </div>

        </div>
        <div class="carousel-item">

            <div id="userCards" class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>@listan[5].FirstName</h3>
                </div>
            </div>
            <div id="userCards" class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>@listan[6].FirstName</h3>
                </div>
            </div>
            <div id="userCards" class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>@listan[7].FirstName</h3>
                </div>
            </div>
            <div id="userCards" class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>@listan[8].FirstName</h3>
                </div>
            </div>
            <div id="userCards" class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h3>@listan[9].FirstName</h3>
                </div>
            </div>

        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> 