@model MatchViewModel
<td>
<img src="@Model.AppUser.UserImg.Url" />
</td>
<h1>@Model.AppUser.FirstName @Model.AppUser.LastName 's Matches</h1><br />

@await Html.PartialAsync("_TopMatchesGeneral", Model.GeneralMatch)<br />
@await Html.PartialAsync("_TopMatchesHobby", Model.HobbyMatch)<br />
@await Html.PartialAsync("_TopMatchesInterest", Model.InterestMatch)<br />
@await Html.PartialAsync("_TopMatchesLocation", Model.LocationMatch) <br />
=======
<h1>@Model.AppUser.FirstName @Model.AppUser.LastName  's Matches</h1>

@await Html.PartialAsync("_TopMatchesGeneral", Model.GeneralMatch)
@await Html.PartialAsync("_TopMatchesHobby", Model.HobbyMatch)
@await Html.PartialAsync("_TopMatchesInterest", Model.InterestMatch)

<p>MEGA ÄNDRING</p>
